langchain_groq
langchain
langchain-community
langchain-core
langchain_text_splitters
python-docx
faiss-cpu
python-dotenv
streamlit
langchain_chroma
pypdf
fastapi
uvicorn
langserve[all]
sse_starlette
onnxruntime
requests
feedparser
beautifulsoup4
transformers
torch
librosa
newspaper3k
python-magic
PyYAML
crewai
crewai-tools
